div, header, footer{
    background-color: blue;
    height: 200px;
    margin-bottom: 30px;

}
header, footer{
    width: 900px;
}
main{
    margin: 0 auto;
    width: 900px;
}

.cell{
    width: 250px;
    float: left;
    margin-right: 75px;
    margin-bottom: 30px;
}

.margin-right-0{
    margin-right: 0px;
}

footer{
    clear: both;
}