section{
    position: relative;
    width: 500px;
    height: 170px;
    border: black solid 2px;
}

.exit{
    position: absolute;
    right: 10px;
    top: 10px;
    color: grey;
    display: block;
}

p{
    color: grey;
}