span{
    display: block;
    position: absolute;
    top: 75px;
    left: 50%;
    background-color: white;
    padding: 0px 20px;
    font-size: 30px;
    
}
section{
    position: relative;
}

hr{
    display: block;
    position: relative;
    top: 100px; 
    color: white;
}